.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 80px 0;
}

.formulario form {
  
  max-width: 80%;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 36px 64px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
}

.campo-imagem,
.lista-suspensa {
  margin-bottom: 20px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: rgb(128, 128, 128);
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  margin: 20px auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.preview-imagem {
  margin-top: 20px;
}

.preview-imagem img {
  max-width: 100%;
  /* Ajusta o tamanho máximo da imagem ao seu contêiner */
  border-radius: 8px;
}